body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: navy;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
.container {
    text-align: center;
}
.clock {
    background: darkslateblue;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    font-size: 3rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.date{
    font-size: 1.2rem;
    color: lightgray;
}